.posts-container {
  width: 100%;
  background: var(--primary-color);
  padding: 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-header {
  font-size: 40px;
  font-weight: 900;
  color: var(--white-txt-color);
  text-align: center;
}

.posts-descr {
  font-size: 16px;
  color: var(--white-txt-color);
  opacity: 0.7;
  margin: 20px 0px 80px 0px;
  text-align: center;
}

.posts-cards {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.posts-btn {
  border: none;
  outline: none;
  background: var(--secondary-color);
  padding: 15px 40px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: var(--white-txt-color);
  cursor: pointer;
  transform: scale(1);
  margin-top: 60px;
}

.posts-btn:active {
  transform: scale(0.96);
}

@media (max-width: 1300px) {
  .posts-container {
    padding: 50px 20px;
  }
  .posts-cards {
    gap: 30px;
  }
  .posts-header {
    font-size: 35px;
  }
}

@media (max-width: 1020px) {
  .posts-cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .posts-header {
    font-size: 30px;
  }

  .posts-descr {
    font-size: 14px;
    margin: 15px 0px 40px 0px;
  }
}

@media (max-width: 600px) {
  .posts-header {
    font-size: 25px;
  }
  .posts-descr {
    margin: 10px 0px 30px 0px;
    width: 100%;
  }
  .posts-btn {
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 16px;
  }
}
