@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #fff;
  --secondary-color: #163300;
  --primary-txt-color: #03444a;
  --white-txt-color: #fff;
  --card-color: #153400;
}

body {
  background: var(--primary-color);
  overflow-x: hidden !important;
}
